:root {
    --main: #2a2a2a;
    --main_off: #313131;
    --accent_bright: #fb8122;
    --accent_shade: #e1e2e2;
    --shadow: 5px 5px 10px black;

}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: var(--main);
    color: #f4f4f4;
    /* background-color: #f4f4f4; */
}

/*GLOBAL*/
.container{
    width :80%;
    margin: auto;
    /* overflow: hidden; */
}
section{
    /* height: 100vh; */
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-------------------------HEADER------------------------------*/

/* header{
    background-color: #35424A;
    border-bottom: #E8491D 3px solid;
    height: 10vh;
} */


header a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
/* header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


/* header {
    display: grid;
    grid-template-areas: z;
} */
.nav-bar{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    position: fixed;
    inset: 0 0 0 60%;
    flex-direction: column;
    background:hsl(0 0% 50%);
    justify-content:center;
    z-index: 1000;

    transform: translateX(100%);
    transition: transform 350ms ease-in;
}
.nav-bar[data-visible="true"] {
    transform: translateX(0%);
}

.nav-bar a:hover{
    font-size: larger;
    transition: font-size 350ms ease-in-out;
    /* background-color: var(--main_off); */
}

.toggle{
    display: block;
    position: fixed;
    background-image: url("../img/icon_menu.png");
    background-color: var(--main_off);
    box-shadow: var(--shadow);
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 100%;
    border: 0;
    height: 3rem;
    aspect-ratio: 1;
    top: 1%;
    right: 2%;
    z-index: 9999;
}
.toggle[aria-selected='true']{
    background-image: url("../img/icon_close.jpg");
}

/*-------------------------HEADER:END------------------------------*/

/*-------------------------ABOUT------------------------------*/
.about{
    height: 100vh;
    /* display: flex;
    flex-direction:column; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20% 2fr 1fr 3fr 20%;
    grid-template-areas: 
    ". . ."
    ". h ."
    ". s ."
    ". . ."
    ". c .";
    /* align-items: center; */
    /* justify-items: center; */
    
}
.socials{
    width: 100%;
    padding: 0%;
    grid-area: s;
    /* border-bottom: var(--accent_bright) solid 10px; */
    /* background-color: var(--main_off); */
}
.socials ul{
    justify-content: center;
    display: flex;
}
.about img{
    height: 40px;
    /* background-color: #fb8122; */
}
.about img:hover{
    height: 45px; 
    transition: height 350ms ease-in-out;
}
.about > .container{
    /* margin: 40% 0% 0% 10%; */
    border-top: #fb8122 solid 10px;
    width: 100%;
    margin: 0;
    grid-area: h;
    text-align: center;
    line-height: 2;
    /* border:#35424A solid 5px; */
}
.container span{
    color: var(--accent_bright);
}
.cv{
    grid-area: c;
}
.cv a{
    text-decoration: none;
    color: var(--accent_shade);
    background-color: var(--accent_bright);
    box-shadow: 5px 5px 5px black;
    padding: 15px;
}

.cv a:hover{
    color: var(--accent_bright);
    background-color: var(--main);
    box-shadow: none;
    font-size: 1rem;
    border: var(--accent_bright) 1px solid;
    transition: font-size 350ms ease-in-out;
}


/*-------------------------ABOUT:END------------------------------*/

/*-------------------------SKILLS------------------------------*/
.skills{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-areas: 
    ". sh sh sh ."
    ". si si si ."
    ". . . . .";
    justify-items: center;
}
.skills > .heading{
    grid-area: sh;
    justify-self: center;
}
.skill-boxes{
    grid-area: si;
}
.icons{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fit, minmax(50px, 75px));
    grid-auto-rows: auto;
    gap: 2rem;
    justify-content: center;
}

.skills img{
    width: 100%;
    inline-size: 100%;
    object-fit: contain;
    max-height: 100px;
    aspect-ratio: 1;
    background-color: var(--main_off);
    box-shadow: 5px 5px 10px black;
    border-radius: 50%;
    padding: 15%;
    transition: height 1s;
}
.skills img:hover{
    background-color: grey;
    box-shadow: none;
}

/*-------------------------SKILLS:END------------------------------*/

/*-------------------------PORTFOLIO------------------------------*/
.projects{
    height: 100vh;
    /* justify-content: center; */
    display: grid;
    grid-template-rows: 5% auto 5%;
    grid-template-areas:
    ". h ."
    "g g g"
    ". . .";
}

.projects > .heading{
    grid-area: h;
}
.project-boxes{
    grid-area: g;
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 2%;
}
.box {
    /* border: #35424A 5px solid; */
    color: white;
    background-color: #35424A;
    border-radius: 10%;
    padding: 2%;
    margin: 2%;
    align-self: center;

    scroll-snap-align: start;
}
.box > a{
    background-color: var(--accent_bright);
    padding: 2%;
    color: black;
    text-decoration: none;
    border-radius: 10%;
}
/*-------------------------PORTFOLIO:END------------------------------*/

@media (min-width: 768px) {
/*-------------------------HEADER------------------------------*/
.toggle{
    display: none;
}

.nav-bar{
    justify-content: space-around;
    font-size: 1rem;
    inset: 0 0 0 0;
    background-color: var(--main_off);
    box-shadow: var(--shadow);
    transform: translateX(0%);
    flex-direction: row;
    position:relative;
    margin: 1em 10% 0 10%;
}
/*-------------------------HEADER:END------------------------------*/

/*-------------------------ABOUT------------------------------*/

.about{
    grid-template-areas: 
    ". . ."
    ". h ."
    ". s ."
    ". c ."
    ". . .";
}

.cv{
    justify-self: center;
    text-align: center;

}
/*-------------------------ABOUT:END------------------------------*/

/*-------------------------SKILLS------------------------------*/
.skills{
    justify-items: normal;
    min-height: 100vh;

}
.skill-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* justify-items: normal; */
}
/*-------------------------SKILLS:END------------------------------*/


/*-------------------------PORTFOLIO------------------------------*/
/* .projects{
    grid-template-areas:
    ". h ."
    ". g ."
    ". . .";
} */
.project-boxes{
    grid-auto-columns: 50%
}
/*-------------------------PORTFOLIO:END------------------------------*/


}
